<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <div>
            <input type="text" v-model="inputName" ><button onclick="vm.cofirm()"> {{ btn }} </button>
            <br>
            <div v-for="(user, index) in users" :key="user.name">
                <ul>
                    <li>
                        {{user.name}}
                        <button v-on:click="btnEdit(index)">edit</button>
                        <button v-on:click="btnHapus(index)">hapus</button>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
    var vm = new Vue({
        el: '#app',
        data: {

            users : [
                {
                    'name' : 'Muhammad iqbal mubarok',
                },
                {
                    'name' : 'Ruby Purwanti',
                },
                {
                    'name' : 'Faqih Muhammad',
                },
            ],
            inputName : '',
            btn : 'add',
            idx : -1,
        },
        
        computed : {


        },
        methods : {
            cofirm : function () {

                if (this.inputName != '') {

                    if (this.btn === 'add') {
                        let obj = { 
                            'name' : this.inputName, 
                        };
                        this.users.push(obj);
                        this.inputName = '';    
                    } else if (this.btn === 'edit') {
                        let obj = { 
                            'name' : this.inputName, 
                        };
                        this.users.splice(this.idx, 1, obj);

                        this.inputName = '';
                        this.btn = 'add';
                    }
                    
                }

            },

            btnEdit : function (index) {
                if (index != null) {
                    this.inputName = this.users[index].name;
                    this.btn = 'edit';
                    this.idx = index;
                    
                }
            },
            btnHapus : function (index) {
                if (index != null) {
                    this.users.splice(index,1);
                }
            },
        }
    })
    </script>
</body>
</html>